body {
    overflow: hidden;
}

.menu-group{
    margin-bottom: 0px !important;
    height: 75px !important;
    min-height : 0px;
    border-radius: 0px;
    border-width: 1px;
}

.top-menu{
    padding-left: 10px !important;
}

#edit-menu span{
    padding : 5px 15px;
}
.menu-group .dropdown > a
{
    padding: 5px 15px;
}

#edit-name-text{
    float : left;
    padding: 10px 15px;
}
#edit-name-field{
    float : left;
    padding: 5px 0px;
}

.menu-group > .container-fluid, .edit-menu > .container-fluid{
    padding-left: 0px;
}
#edit-type-text{
    float : left;
    padding: 10px 15px;
}
.btn-group{
    padding-top: 5px;
}

.content {
    width: auto;
    height: auto;
}

.side-menu {
    width: 55px;
    min-height: 1600px;
    height: 100%;
    overflow: hidden;
    display: inline-block;
    background-color: #f8f8f8;
    border-style: solid;
    border-width: 0px 1px 0px 1px;
    border-color: #e7e7e7;
}

.side-menu-button {
    display: block;
    margin : 10px auto;
    width : 35px;
    padding: 6px 2px;
}

.side-menu-button .tooltip-text {
    visibility: hidden;;
    width: 120px;
    background-color: #000000;
    color: #fff;
    opacity: 0.75;
    text-align: center;
    padding: 5px 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    position: absolute;
    margin-top: -5px;
    margin-left: 18px;
    z-index: 1;
}
.side-menu-button:hover .tooltip-text {
    visibility: visible;
    z-index: 5;
}

.zoom-menu{
    bottom: 45px;
    right: 55px;
    position: fixed;
    z-index: 998;
}

.zoom-menu-button{
     width : 35px;
}

.zoom-menu-icon{
    margin : 0 8px;
    font-size: 16px;
}

.zoom-menu-percentage{
    display: inline;
    width : 63px;
}

.graph-area {
    /*margin-top: 74px;*/
    /*margin-left: 55px;*/
    width: calc(100% - 55px);
    height: 100%;
    display: inline-block;
    float: right;
    /*min-width: 640px;*/
    /*min-height: 480px;*/
    background-color: white;
}