body {
    overflow: hidden;
}

/*input[type=text]:focus, input[type=button] button:focus {*/
    /*outline: none;*/
/*}*/

.menu-group{
    margin-bottom: 0px !important;
    height: 76px !important;
    min-height : 0px;
    border-radius: 0px;
    border-width: 1px;
}

.top-menu{
    padding-left: 10px !important;
}

.menu-group .dropdown > a
{
    padding: 5px 15px;
}

.menu-group > .container-fluid, .edit-menu > .container-fluid{
    padding-left: 0px;
}

.btn-group{
    padding-top: 5px;
}

.navbar .sub-menu-container .nav.navbar-nav .sub-menu-name {
    float : left;
    padding: 10px 15px;
}
.navbar .sub-menu-container .nav.navbar-nav .sub-menu-field {
    float : left;
    padding: 5px 0px;
}
.navbar .sub-menu-container .nav.navbar-nav .sub-menu-btn {
    float : left;
    padding: 5px 0px;
}
.navbar .sub-menu-container .nav.navbar-nav .btn-group {
    float : left;
    padding-top: 5px;
}
.navbar .sub-menu-container .nav.navbar-nav .btn-group .btn-selection {
    min-width: 120px;
}
.navbar .sub-menu-container .nav.navbar-nav .btn-group .btn-selection.unselected {
    color: #9e9e9e;
}
.navbar .sub-menu-container .nav.navbar-nav .btn-group .btn-selection.long-length {
    min-width: 240px;
}
.navbar .sub-menu-container .nav.navbar-nav input {
    min-width: 120px;
}
.navbar .sub-menu-container .nav.navbar-nav .sub-menu-divider {
    float : left;
    width: 0;
    height: 0;
    padding: 22px 15px;
}

.side-menu {
    width: 240px;
    min-height: 1600px;
    height: 100%;
    overflow: hidden;
    display: inline-block;
    background-color: #424242;
    border-right: solid 1px #212121;
}
.side-menu-container {
    padding: 10px;
}
.side-menu-container .side-menu-list {
    background-color: #616161;
    border: solid 1px #212121;
    border-radius: 4px;
    color: white;
    margin-bottom: 10px;
}
.side-menu-list .side-menu-list-header {
    padding: 0 10px;
    border-bottom: solid 1px #212121;
}
.side-menu-list .side-menu-list-header h5 {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}
.side-menu-list .side-menu-list-header .btn-group {
    display: inline-block;
    float: right;
    padding-top: 6px;
}
.side-menu-list ul {
    overflow-y: scroll;
    overflow-x: hidden;
    min-height: 240px;
    max-height: 320px;
    padding: 5px 0;
    margin-bottom: 0;
    list-style-type: none;
}
.side-menu-list ul li {
}
.side-menu-list ul li > a {
    display: block;
    padding: 0px 10px;
    color: white;
    width: 100%;
    height: 20px;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-overflow-mode: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    user-drag: none;
}
.side-menu-list ul li > a:hover,
.side-menu-list ul li > a:focus {
    background-color: #757575;
    text-decoration: none;
}
.side-menu-list ul li > a.active,
.side-menu-list ul li > a.active:hover,
.side-menu-list ul li > a.active:focus {
    background-color: #9e9e9e;
    text-decoration: none;
}
.side-menu-list.side-menu-edges ul li > a .edge-source,
.side-menu-list.side-menu-edges ul li > a .edge-target {
    display: inline-block;
    width: 45%;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-overflow-mode: ellipsis;
    white-space: nowrap;
}
.side-menu-list.side-menu-edges ul li > a .edge-pointer {
    display: inline-block;
    width: 10%;
    overflow: hidden;
    text-align: center;
}

.side-menu-button {
    display: block;
    margin : 10px auto;
    width : 35px;
    padding: 6px 2px;
}

.side-menu-button .tooltip-text {
    visibility: hidden;;
    width: 120px;
    background-color: #000000;
    color: #fff;
    opacity: 0.75;
    text-align: center;
    padding: 5px 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    position: absolute;
    margin-top: -5px;
    margin-left: 24px;
    z-index: 1;
}
.side-menu-button:hover .tooltip-text {
    visibility: visible;
    z-index: 5;
}

.zoom-menu{
    bottom: 45px;
    right: 55px;
    position: fixed;
    z-index: 998;
}

.zoom-menu-button{
     width : 35px;
}

.zoom-menu-icon{
    margin : 0 8px;
    font-size: 16px;
}

.zoom-menu-percentage{
    display: inline;
    width : 63px;
}

.graph-title {
    width: 100%;
    height: 31px;
    margin: 0;
    padding: 0 15px;
    color: white;
    background-color: #616161;
    border-bottom: 1px solid #212121;
}
.graph-title span {
    display: inline-block;
    height: 30px;
    padding: 5px 0;
}

.graph-area {
    width: calc(100% - 240px);
    height: 100%;
    display: inline-block;
    float: right;
    background-color: white;
}
.graph-close-overlay {
    width: calc(100% - 240px);
    height: 100%;
    display: inline-block;
    float: right;
    background-color: #e0e0e0;
    text-align: center;
}

.content {
    display: none;
    width: auto;
    height: auto;
}
.welcome-overlay {
    /*display: none;*/
    background: white;
    color: black;
    text-align: center;
    height: 100%;
}

#subMenuNodeType .nodeTypeColor,
.subMenuEdgeNode .nodeTypeColor,
.newEdgeDlgNode .nodeTypeColor {
    width: 20px;
    margin-right: 8px;
    display: inline-block;
}
#subMenuNodeTypeDropdown .nodeTypeColor,
.subMenuEdgeNodeDropdown .nodeTypeColor,
.newEdgeDlgNodeDropdown .nodeTypeColor {
    width: 20px;
    margin-right: 8px;
    display: inline-block;
}

#subMenuNodeType .nodeTypeId,
.subMenuEdgeNode .nodeTypeId,
.newEdgeDlgNode .nodeTypeId,
#subMenuNodeTypeDropdown .nodeTypeId,
.subMenuEdgeNodeDropdown .nodeTypeId,
.newEdgeDlgNodeDropdown .nodeTypeId {
    display: none;
}

.btn-group ul.dropdown-menu {
    max-height: 300px;
    overflow-y: scroll;
}

.modal .modal-body .btn-group .btn-selection {
    min-width: 200px;
}
.modal .modal-body input[type=number].form-control {
    width: 226px;
}

.modal .modal-body .list-header > h5 {
    display: inline-block;
}
.modal .modal-body .list-header > .btn,
.modal .modal-body .list-header > .btn-group {
    float: right;
    margin-top: 3px;
}

#manageNodeTypeModal .modal-body .list-group {
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#manageNodeTypeList .typeColor,
#manageNodeTypeColorList .typeColor {
    width: 20px;
    display: inline-block;
    float: right;
}
#manageNodeTypeList .typeId {
    display: none;
}
#manageNodeTypeList .list-group-item {
    min-height: 42px;
}
#manageNodeTypeList .list-group-item.active,
#manageNodeTypeList .list-group-item.active:hover,
#manageNodeTypeList .list-group-item.active:focus,
#manageNodeTypeColorList .list-group-item.active,
#manageNodeTypeColorList .list-group-item.active:hover,
#manageNodeTypeColorList .list-group-item.active:focus {
    border-color: #bdbdbd;
}

#manageConfidenceModal .modal-body .table-container {
    height: 340px;
}
#confidenceTable th, #confidenceTable td {
    /*width: 120px;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*width: 120px;*/
    /*height: 38px;*/
}


.fixedTable .table {
    background-color: white;
    width: auto;
}
.fixedTable .table tr td,
.fixedTable .table tr th {
    min-width: 120px;
    max-width: 120px;
    width: 120px;
    min-height: 34px;
    max-height: 34px;
    height: 34px;
    padding: 6px;
    text-align: center;

    overflow-x: hidden;
    text-overflow-ellipsis: true;
    text-overflow-mode: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.fixedTable-header {
    width: auto;
    height: 34px;
    margin-left: 120px;
    overflow: hidden;
    /*border-bottom: 1px solid #CCC;*/
}
.fixedTable-sidebar {
    width: 120px;
    height: 310px;
    float: left;
    overflow: hidden;
    /*border-right: 1px solid #CCC;*/
}
.fixedTable-body {
    overflow: auto;
    width: calc(100% - 120px);
    height: 310px;
    float: left;
}
#confidenceTable.fixedTable .table tr td.td-input {
    padding: 0px;
}
#confidenceTable.fixedTable .table tr td.td-empty {
    background-color: #eee;
}
#confidenceTable.fixedTable .table tr td.td-input input {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0;
    text-align: center;
}


/*signin form*/
#menuSignin {
    background: #616161;
    color: white;
    border-left: 1px solid #212121;
    border-bottom: 1px solid #212121;
    width: 360px;
    height: 190px;
    padding: 15px;
    position: absolute;
    z-index: 100;
    right: 0;
    top: 0;
}
#menuSignin #checkboxRemember {
    display: inline-block;
}
#menuSignin #btnSignin {
    display: inline-block;
    float: right;
    width: 140px !important;
}
#menuSignin .signin-more {
    margin-top: 10px;
}
.form-signin {}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
                    box-sizing: border-box;
    padding: 10px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* signup form */
#signupModal .modal-dialog {
    width:400px;
}
/* form group for signin/up */
.modal-body .form-group label {
    display: block;
}
.modal-body .form-group .form-control-input {
    display: inline-block;
    width: 80%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.modal-body .form-group .form-control-button {
    display: inline-block;
    width: 20%;
    float: right;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


/* open graph */
#openGraphModal .modal-body .list-group {
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#graphList .list-group-item.active,
#graphList .list-group-item.active:hover,
#graphList .list-group-item.active:focus,
#graphList .list-group-item.active,
#graphList .list-group-item.active:hover,
#graphList .list-group-item.active:focus {
    background-color: #616161;
    border-color: #424242;
    color: white;
}


/* colors */
.type-color-bg.type-color-red { background-color: #f44336 !important; }
.type-color-text.type-color-red { color: white !important; }
.type-color-bg.type-color-pink { background-color: #e91e63 !important; }
.type-color-text.type-color-pink { color: white !important; }
.type-color-bg.type-color-purple { background-color: #9c27b0 !important; }
.type-color-text.type-color-purple { color: white !important; }
.type-color-bg.type-color-deep-purple { background-color: #673ab7 !important; }
.type-color-text.type-color-deep-purple { color: white !important; }
.type-color-bg.type-color-indigo { background-color: #3f51b5 !important; }
.type-color-text.type-color-indigo { color: white !important; }
.type-color-bg.type-color-blue { background-color: #2196f3 !important; }
.type-color-text.type-color-blue { color: white !important; }
.type-color-bg.type-color-light-blue { background-color: #03a9f4 !important; }
.type-color-text.type-color-light-blue { color: black !important; }
.type-color-bg.type-color-cyan { background-color: #00bcd4 !important; }
.type-color-text.type-color-cyan { color: black !important; }
.type-color-bg.type-color-teal { background-color: #009688 !important; }
.type-color-text.type-color-teal { color: white !important; }
.type-color-bg.type-color-green { background-color: #4caf50 !important; }
.type-color-text.type-color-green { color: black !important; }
.type-color-bg.type-color-light-green { background-color: #8bc34a !important; }
.type-color-text.type-color-light-green { color: black !important; }
.type-color-bg.type-color-lime { background-color: #cddc39 !important; }
.type-color-text.type-color-lime { color: black !important; }
.type-color-bg.type-color-yellow { background-color: #ffeb3b !important; }
.type-color-text.type-color-yellow { color: black !important; }
.type-color-bg.type-color-amber { background-color: #ffc107 !important; }
.type-color-text.type-color-amber { color: black !important; }
.type-color-bg.type-color-orange { background-color: #ff9800 !important; }
.type-color-text.type-color-orange{ color: black !important; }
.type-color-bg.type-color-deep-orange { background-color: #ff5722 !important; }
.type-color-text.type-color-deep-orange { color: white !important; }
.type-color-bg.type-color-brown { background-color: #795548 !important; }
.type-color-text.type-color-brown { color: white !important; }
.type-color-bg.type-color-grey { background-color: #757575 !important; }
.type-color-text.type-color-grey { color: white !important; }
.type-color-bg.type-color-blue-grey { background-color: #607d8b !important; }
.type-color-text.type-color-blue-grey { color: white !important; }

